<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Vue 实现无限加载 nav-menu 组件</title>
  <script src="https://cdn.bootcdn.net/ajax/libs/vue/2.6.11/vue.js"></script>
</head>
<body>
  <!-- menu-nav 组件 -->
  <style>
    .menu-list-item {
      cursor: pointer;
      user-select: none;
      min-width: 100px;
    }
    .selected-menu-list-item {
      color: lightgreen;
    }
    .menu-list-item:not(:last-child) {
      margin-right: 10px;
    }
  </style>
  <script type="text/x-template" id="menu-nav">
    <div>
      <div style="display: flex; overflow: auto;" :style="menuDepthStyleList[depth]">
        <div
          v-for="(item, index) in menuData"
          :key="index"
          :class="['menu-list-item', selectedItem && selectedItem.id === item.id && 'selected-menu-list-item']"
          :style="item.style"
          @click="handleMenuClick(item, index)"
        >
          {{item.content}}
        </div>
      </div>
      <div v-if="selectedItem && selectedItem.children && selectedItem.children.length > 0">
        <menu-nav :menu-data="selectedItem.children" :menu-depth-style-list="menuDepthStyleList" :depth="depth + 1"></menu-nav>
      </div>
    </div>
  </script>
  <script>
    Vue.component('menu-nav', {
      template: '#menu-nav',
      props: {
        menuData: {
          type: Array,
          default: () => []
        },
        menuDepthStyleList: {
          type: Array,
          default: () => []
        },
        depth: {
          type: Number,
          default: 0
        }
      },
      data () {
        return {
          selectedItem: null
        }
      },
      watch: {
        menuData: {
          immediate: false,
          deep: false,
          handler (val, oldVal) {
            this.selectedItem = null
          }
        }
      },
      methods: {
        handleMenuClick (item, index) {
          this.selectedItem = item
        }
      },
    })
  </script>

  <p>相当于一个横向的无限 menu 组件</p>
  <p>参考链接：[如何实现无限递归组件]<a href="https://mp.weixin.qq.com/s/KVK7jy_w5pk0eES_5WUz-A" target="_blank">(https://mp.weixin.qq.com/s/KVK7jy_w5pk0eES_5WUz-A)</a></p>
  <div id="app">
    <menu-nav :menu-data="menuData" :menu-depth-style-list="menuDepthStyleList"></menu-nav>
  </div>

  <script>
    new Vue({
      el: '#app',
      data () {
        return {
          // 定制每个层级 wrapper 的样式
          menuDepthStyleList: [
            'background: lightcyan;',
            'background: lightgoldenrodyellow;'
          ],
          menuData: [
            {
              id: 1,
              father_id: 0,
              status: 1,
              content: '生命科学竞赛',
              style: 'background: lightgray;',
              children: [
                {
                  id: 2,
                  father_id: 1,
                  status: 1,
                  content: '野外实习类',
                  children: [
                    { id: 3, father_id: 2, status: 1, content: '植物学' },
                  ],
                },
                {
                  id: 7,
                  father_id: 1,
                  status: 1,
                  content: '科学研究类',
                  children: [
                    {
                      id: 8,
                      father_id: 7,
                      status: 1,
                      content: '植物学与植物生理学',
                    },
                    {
                      id: 9,
                      father_id: 7,
                      status: 1,
                      content: '动物学与动物生理学',
                    },
                    { id: 10, father_id: 7, status: 1, content: '微生物学' },
                    { id: 11, father_id: 7, status: 1, content: '生态学' },
                  ],
                },
                { id: 71, father_id: 1, status: 1, content: '添加' },
              ],
            },
            {
              id: 56,
              father_id: 0,
              status: 1,
              content: '考研相关',
              style: 'background: lightgray;',
              showChild: true,
              children: [
                { id: 57, father_id: 56, status: 1, content: '政治', style: 'background: lightcoral;' },
                { id: 58, father_id: 56, status: 1, content: '外国语', style: 'background: lightcoral;' }
              ],
            },
          ]
        }
      }
    })
  </script>
</body>
</html>
